<div id="name" class="inner">
  <%= link_to_function image_tag('alexcrichton.jpg', :width => '320px', :class => 'first'), 'showMain();$(this).blur()' %>
  <%= mail_to 'alex@alexcrichton.com', image_tag('email.jpg', :width => '320px') %>
</div>
<div id="websites">
  <h1><%= link_to_function 'WEBSITES', 'showWebsites();$(this).blur()'%></h1>
  <ul>
    <li><%= link_to 'LaQuercia', 'http://www.laquercia.us' %></li>
    <li><%= link_to 'Woodrow Wilson', '/league' %></li>
    <li><%= link_to 'AcademyCommunity', 'http://academycommunity.com' %></li>
  </ul>
</div>
<div id="java">
  <h1><%= link_to_function 'JAVA', 'showJava();$(this).blur()' %></h1>
</div>
