<div id="name" class="inner">
  <%= image_tag('alexcrichton.jpg', :width => '320px', :class => 'first') %>
  <%= mail_to 'alex@alexcrichton.com', image_tag('email.jpg', :width => '320px') %>
</div>
<div id="websites">
  <h1><%= link_to_function '<span>WEBSITES</span>', 'show_websites();$(this).blur()' %></h1>

  <div class="list">
    <div><%= link_to 'LaQuercia', 'http://www.laquercia.us', :id => 'lq' %></div>
    <div><%= link_to 'Woodrow Wilson', '/league', :id => 'wilson' %></div>
    <div><%= link_to 'AcademyCommunity', 'http://academycommunity.com', :id => 'ac' %></div>
    <div><%= link_to 'Golden Circle', 'http://gc.alexcrichton.com', :id => 'gc' %></div>
  </div>
</div>
<div id="java">
  <h1><%= link_to_function '<span>JAVA</span>', 'show_java();$(this).blur()' %></h1>

  <div class="list">
    <% ['MDS', 'Calculator', 'Ciphers', 'Number Speller', 'Pong', 'Sudoku', 'Tetris', 'Mastermind'].each do |e| %>
      <div><%= link_to e, "/jars/#{e.gsub(/ /, '').downcase}.jar", :id => e.gsub(/ /, '').downcase %></div>
    <% end %>
  </div>
</div>
