<h2 class="separator">Java Applications</h2>
<p>
  Current applications I've written (download and double click jar to run):
</p>

<ul>
  <li><%= link_to 'mds.jar', "/jars/mds.jar" %> - a drawing program w/ some advanced features</li>
  <li><%= link_to 'calculator.jar', "/jars/calculator.jar" %>  - yep, you guessed it</li>
  <li>
    <%= link_to 'ciphers.jar', "/jars/ciphers.jar" %>  - program supporting encryption and decryption based on
    various simple ciphers
  </li>
  <li><%= link_to 'himcm07.jar', "/jars/himcm07.jar" %> - ever wondered if you should rent a car?</li>
  <li><%= link_to 'lathe.jar', "/jars/lathe.jar" %> - calculus solids, lots easier</li>
  <li><%= link_to 'mastermind.jar', "/jars/mastermind.jar" %> - fun game to play</li>
  <li>
    <%= link_to 'numberspeller.jar', "/jars/numberspeller.jar" %> - ever wondered how to pronounce 10
    <sup>3000</sup>?
  </li>
  <li><%= link_to 'pong.jar', "/jars/pong.jar" %> - old school</li>
  <li><%= link_to 'riemann.jar', "/jars/riemann.jar" %> - Riemann sums anyone?</li>
  <li><%= link_to 'sudoku.jar', "/jars/sudoku.jar" %> - that one sudoku you can't solve giving you trouble?</li>
  <li><%= link_to 'tetris.jar', "/jars/tetris.jar" %> - old school <em>and</em> with sound</li>
  <li><%= link_to 'track.jar', "/jars/track.jar" %> - if you're a track coach, you might be interested...</li>
</ul>

<p>
  All of the source code for these applications can be found on
  my <%= link_to "google code", 'http://code.google.com/p/centralcomputerscience/' %>
  page (check out through SVN in trunk/java/applications). Although I am thinking of moving this to git...
</p>


<h2 class="separator">Competitions</h2>
<p>
  In the 2008 <%= link_to 'Hawkeye Challenge', 'http://acm.uiowa.edu/page.php?8' %> a team of me, Kyle Moose,
  and Jason Walsh trumped the competiton to get first.
</p>
<p>
  I've written solutions to competitions such as the one
  in <%= link_to 'Vermillion', 'http://www.usd.edu/csci/acm/contest/' %>
  and <%= link_to 'UAB', 'http://www.cis.uab.edu/programs/hspc/' %>.<br />
  The main competition, however, is the <%= link_to 'USACO', 'http://train.usaco.org/usacogate' %>. In this difficult,
  algorithm-based curriculum, I have trudged through solutions to 3/6 chapters, an achievement which is no small
  feat for me...
</p>
<p>
  As with all applications, all code for these solutions can be found on
  the <%= link_to "google code", 'http://code.google.com/p/centralcomputerscience/' %>
  page in the trunk/java/contests folder.
</p>

<h2 class="separator">Litvin</h2>
<p>
  I learned Java mainly from the Internet and my own personal projects, but I was largely helped by the Litvin A &amp;
  AB books. These two books taught me the rudimentary basics of Java and the more advanced level features of the
  language.
</p>
<p>
  Yet again, all code written for the books can be found on the google code page... If you're a computer science
  student, well you just got lucky.
</p>
