<div id="home" class="item top"><%= link_to 'Home', '/index.html' %></div>
<div id="java" class="item top"><%= link_to 'Java', '/java.html' %></div>
<div id="sub-java" class="menu">
  <div id="apps" class="item"><%= link_to 'Applications', '/java.html#apps' %></div>
  <div id="sub-apps" class="menu">
    <div class="item"><%= link_to 'mds', "/jars/mds.jar" %></div>
    <div class="item"><%= link_to 'calculator', "/jars/calculator.jar" %></div>
    <div class="item"><%= link_to 'ciphers', "/jars/ciphers.jar" %></div>
    <div class="item"><%= link_to 'himcm07', "/jars/himcm07.jar" %></div>
    <div class="item"><%= link_to 'lathe', "/jars/lathe.jar" %></div>
    <div class="item"><%= link_to 'mastermind', "/jars/mastermind.jar" %></div>
    <div id="spell" class="item"><%= link_to 'numberspeller', "/jars/numberspeller.jar" %></div>
    <div id="sub-spell" class="menu">
      <div class="item"><%= link_to 'Bignum', '/bignum.html' %></div>
    </div>
    <div class="item"><%= link_to 'pong', "/jars/pong.jar" %></div>
    <div class="item"><%= link_to 'riemann', "/jars/riemann.jar" %></div>
    <div class="item"><%= link_to 'sudoku', "/jars/sudoku.jar" %></div>
    <div class="item"><%= link_to 'tetris', "/jars/tetris.jar" %></div>
    <div class="item"><%= link_to 'track', "/jars/track.jar" %></div>
  </div>
  <div class="item"><%= link_to 'Competitions', '/java.html#competitions' %></div>
  <div class="item"><%= link_to 'Litvin', '/java.html#litvin' %></div>
  <div class="item"><%= link_to 'Eclipse', '/java.html#eclipse' %></div>
</div>
<div id="ruby" class="item top"><%= link_to 'Ruby', '/ruby.html' %></div>
<div id="web" class="item top"><%= link_to 'Blagoblag', '/webweb.html' %></div>
<div id="testing" class="item top"><%= link_to 'Testing', '/testing.html' %></div>
<div id="sub-testing" class="menu">
  <div id="this" class="item">This</div>
  <div id="sub-this" class="menu">
    <div id="is" class="item">is</div>
    <div id="sub-is" class="menu">
      <div id="a" class="item">a</div>
      <div id="sub-a" class="menu">
        <div id="long" class="item">long</div>
        <div id="sub-long" class="menu">
          <div id="menu" class="item">menu</div>
          <div id="sub-menu" class="menu">
            <div class="item">congrats on</div>
            <div class="item">reaching the</div>
            <div class="item">end</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
