<div id="home" class="top-menu-item"><%= link_to 'Home', '/index.html' %></div>
<div id="java" class="top-menu-item"><%= link_to 'Java', '/java.html' %></div>
<div id="sub-java" class="menu">
  <div id="apps" class="submenuitem"><%= link_to 'Applications', '/java.html#apps' %></div>
  <div id="sub-apps" class="menu">
    <div class="menuitem"><%= link_to 'mds.jar', "/jars/mds.jar" %></div>
    <div class="menuitem"><%= link_to 'calculator.jar', "/jars/calculator.jar" %></div>
    <div class="menuitem"><%= link_to 'ciphers.jar', "/jars/ciphers.jar" %></div>
    <div class="menuitem"><%= link_to 'himcm07.jar', "/jars/himcm07.jar" %></div>
    <div class="menuitem"><%= link_to 'lathe.jar', "/jars/lathe.jar" %></div>
    <div class="menuitem"><%= link_to 'mastermind.jar', "/jars/mastermind.jar" %></div>
    <div class="menuitem"><%= link_to 'numberspeller.jar', "/jars/numberspeller.jar" %></div>
    <div class="menuitem"><%= link_to 'pong.jar', "/jars/pong.jar" %></div>
    <div class="menuitem"><%= link_to 'riemann.jar', "/jars/riemann.jar" %></div>
    <div class="menuitem"><%= link_to 'sudoku.jar', "/jars/sudoku.jar" %></div>
    <div class="menuitem"><%= link_to 'tetris.jar', "/jars/tetris.jar" %></div>
    <div class="menuitem"><%= link_to 'track.jar', "/jars/track.jar" %></div>
  </div>
  <div class="menuitem"><%= link_to 'Competitions', '/java.html#competitions' %></div>
  <div class="menuitem"><%= link_to 'Litvin', '/java.html#litvin' %></div>
  <div class="menuitem"><%= link_to 'Eclipse', '/java.html#eclipse' %></div>
</div>
<div id="ruby" class="top-menu-item"><%= link_to 'Ruby', '/ruby.html' %></div>
<div id="web" class="top-menu-item"><%= link_to 'Blagoblag', '/webweb.html' %></div>
<div id="testing" class="top-menu-item"><%= link_to 'Testing', '/testing.html' %></div>
<div id="sub-testing" class="menu">
  <div id="this" class="submenuitem">This</div>
  <div id="sub-this" class="menu">
    <div id="is" class="submenuitem">is</div>
    <div id="sub-is" class="menu">
      <div id="a" class="submenuitem">a</div>
      <div id="sub-a" class="menu">
        <div id="long" class="submenuitem">long</div>
        <div id="sub-long" class="menu">
          <div id="menu" class="submenuitem">menu</div>
          <div id="sub-menu" class="menu">
            <div class="menuitem">congrats on</div>
            <div class="menuitem">reaching the</div>
            <div class="menuitem">end</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
