<li class="top"><%= link_to 'Home', '/index.html' %></li>
<li class="top"><%= link_to 'Java', '/java.html' %>
  <ul class="down">
    <li class="sub"><%= link_to 'Applications', '/java.html#apps' %>
      <ul>
        <li><%= link_to 'mds', "/jars/mds.jar" %></li>
        <li><%= link_to 'calculator', "/jars/calculator.jar" %></li>
        <li><%= link_to 'ciphers', "/jars/ciphers.jar" %></li>
        <li><%= link_to 'himcm07', "/jars/himcm07.jar" %></li>
        <li><%= link_to 'lathe', "/jars/lathe.jar" %></li>
        <li><%= link_to 'mastermind', "/jars/mastermind.jar" %></li>
        <li class="sub"><%= link_to 'numberspeller', "/jars/numberspeller.jar" %>
          <ul>
            <li><%= link_to 'Bignum', '/bignum.html' %></li>
          </ul>
        </li>
        <li><%= link_to 'pong', "/jars/pong.jar" %></li>
        <li><%= link_to 'riemann', "/jars/riemann.jar" %></li>
        <li><%= link_to 'sudoku', "/jars/sudoku.jar" %></li>
        <li><%= link_to 'tetris', "/jars/tetris.jar" %></li>
        <li><%= link_to 'track', "/jars/track.jar" %></li>
      </ul>
    </li>
    <li><%= link_to 'Competitions', '/java.html#competitions' %></li>
    <li><%= link_to 'Litvin', '/java.html#litvin' %></li>
    <li><%= link_to 'Eclipse', '/java.html#eclipse' %></li>
  </ul>
</li>
<li class="top"><%= link_to 'Ruby', '/ruby.html' %></li>
<li class="top"><%= link_to 'Blagoblag', '/webweb.html' %></li>
<li class="top"><%= link_to 'Testing', '/testing.html' %>
  <ul class="down">
    <li class="sub">This
      <ul>
        <li class="sub">is
          <ul>
            <li class="sub">a
              <ul>
                <li class="sub">long
                  <ul>
                    <li class="sub">menu
                      <ul>
                        <li>congrats on</li>
                        <li>reaching the</li>
                        <li>end</li>
                      </ul>
                    </li>
                  </ul>
                </li>
              </ul>
            </li>
          </ul>
        </li>
      </ul>
    </li>
  </ul>
</li>
